{% extends "base.html" %}
{% block title %}О технологии проекта{% endblock %}
{% block content %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Технологии
                </div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  кратко о сайте
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <p>Сайт этого проекта создаётся с помощью очень крутого фреймворка Django,
               не перестаю удивляться насколько он функционален, и как вообще раньше без него
               писали подобные проекты.
                <br>
               Редактор кода я использую PyCharm PRO, он мне больше нравится остальных, хоть и
               приходится получать лицензию на сторонних сайтах.
                <br>
               В целом ёще очень много вопросов, как сделать то или это, но на помощь приходит
               документация Django, благо она написана очень хорошо и можно найти практически
                все ответы на появляющиеся вопросы.
                <br>
               Так же отмечу команду курса и самих однокурсников Яндекс Практикума, которые
                не бросают в трудную минуту))
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}